.App{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.check {
  display: flex;  
  justify-content: center;
}
.check button,
.check-bottom button {
  display: block;
  margin: auto 10px;  
  width: 40px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.active {
  background-color: brown;
}
.pagination > button {
 
  width: 70px;
  height: 30px;
  color: white;
  border-radius: 5px;
  background-color: #007bff;
}
.pagination {
  display: flex;
  margin: auto;
  width: max-content;
  align-items: center;
}
.pagination :disabled {
  background-color: rgba(51, 51, 51, 0.303);
}
@media (max-width: 850px) {
  .pagination {
    position: fixed;
    top: 10%;
    flex-direction: column;
    right: 25px;
  }
  .pagination > button {
    width: 40px;
  }

.check{
    flex-direction: column;
    margin: 10px 0;
}
.check button {
    margin: 10px 0;
}
#next {
  height: max-content;
}
}
