.taskItem {
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    margin-left: 20px;
    line-height: 1.4rem;
  }
  .header {
    width: 100%;
  }
  .header label {
    width: 120px;
    align-items: center;
    font-weight: bold;
  font-size: 18px;

  }
  .header textarea {
    flex-grow: 1;
  }
  .taskItem button {
    width: 50%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
  .main-layout{
    flex-grow: 1;
    display: block;
    width: 100%;
    height: max-content;
  }
 
  .side{
    width: 100%;   
}

.side >button{
    height: 50px;
    width: 100%;
    border: none;    
}

  .main {
  display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 30px auto;
    row-gap: 15px;
    height: max-content;
    justify-items: center;
  }
  .Done {
    color: red;
    font-weight: 800;
  }
  .Doing {
    color: blue;
    font-weight: 800;

  }
  .New {
    color: green;
    font-weight: 800;

  }
  a:hover{
    text-decoration: none;
  }
  .taskItem p{    
    width: 100%;
    height: 56px;
    display: block;
    text-overflow: ellipsis; 
    overflow: hidden;   
    line-height: 18px;    
    margin-bottom: 2px
    ;
  }
  .taskItem>div{
    border-top: 1px solid black;
  }
  @media (max-width:479px) {
    .main{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(12,1fr);
    }
  
   
  }
  @media (min-width:480px) {
    .main{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(12,1fr);
    }
   
  }
  @media (min-width:720px) {
    .main{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    }
  }
  @media (min-width:960px) {
    .main{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    }
  }
  @media (min-width:1200px) {
    .main{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    }
  }
  @media (min-width:1400px) {
    .main{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    }
    
  }
  @media (min-width:1570px) {
    .main{
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    }
    
  }
  .btn-secondary{
    background-color: rgb(190, 102, 30);
    border-radius: 0px;
  }
.sidebarList {
  width: 20%;
  align-self: stretch;

  background-color: rgb(255, 137, 41);
}
.active {
  background-color: brown;
}
.pagination> button{
  width: 70px;
  height: 30px;
  color: white;
  border-radius: 5px;
  background-color: #007bff;
}
.pagination {
  align-items: center;
}
.pagination :disabled{
  background-color: rgba(51, 51, 51, 0.303);
}
 