.taskItem {
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    margin-left: 20px;
    line-height: 1.4rem;
    position: relative;
  }
  .selectItem::after{
    content: "";
    position: absolute;
    font-size: 0px;
    top: 0;
    right: 0;
    display: block;
    border-radius: 0 0 0 50%  ;
    background-color: brown;
    width: 00px;
    height: 0px;
    transition: all ease 0.2s ;
  }
  
  .selectItem:hover::after{
    content: "👌";
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 30px;   
    background-color: rgb(22, 112, 22);
    transform: rotate(45);
    width: 50px;
    height: 50px;
  }
  .header {
    width: 100%;
  }
  .header label {
    width: 120px;
    align-items: center;
    font-weight: bold;
  font-size: 18px;

  }
  .header textarea {
    flex-grow: 1;
  }
  .taskItem button {
    width: 50%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
.main-layout{
    flex-grow: 1;
    display: block;
    width: 100%;
    height: max-content;
  }
 
.side{
    width: 100%;   
}

.side>.checkkktrue {
  background-color: rgb(22, 112, 22);
  position: relative;
  width: 100%;
  transform: scaleX(100%);
  transition: all linear .5s;
}
.listButton{
  width: 100%;
  flex-direction: column;
}
.listButton>button{
  display: block;;
  width: 50%;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 0 10px 10px 0;
  transition: all ease .3s .1s;
}
.listButton>button:hover{
width: 100%;
height: 30px;
background-color: rgb(47, 61, 255);
}

.checkkktrue:focus{
  width: 100%;
  background-color: rgba(22, 112, 22, 0);
}
.side >button{
    height: 50px;
    width: 100%;
    border: none;    
}

  .main {
  display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    margin: 30px auto;
    row-gap: 15px;
    height: max-content;
    justify-items: center;
  }
  .Done {
    color: red;
    font-weight: 800;
  }
  .done{
    background-color: rgb(255, 81, 0);
  }
  .Doing {
    color: blue;
    font-weight: 800;
  }
  .doing {
    background-color: blue;
  }
  .New {
    color: green;
    font-weight: 800;
  }
 
  .new{
    background-color: green;
  }
  a:hover{
    text-decoration: none;
  }
  .btn-secondary{
    background-color: rgb(190, 102, 30);
    border-radius: 0px;
  }
.sidebarList {
  width: 20%;
  align-self: stretch;
  background-color: rgb(255, 137, 41);
}
  .taskItem p{    
    width: 100%;
    height: 56px;
    display: block;
    text-overflow: ellipsis; 
    overflow: hidden;   
    line-height: 18px;    
    margin-bottom: 2px
    ;
  }
  .taskItem>div{
    border-top: 1px solid black;
  }
  @media (max-width:720px) {
    .main{
    grid-template-columns: repeat(1,1fr);
    /* grid-template-rows: repeat(12,1fr); */
    }
    .sidebarList {
      min-width: 102px;
    }
   
  }
  @media (min-width:480px) {
    .main{
    grid-template-columns: repeat(1,1fr);
    /* grid-template-rows: repeat(12,1fr); */
    }
   
  }
  @media (min-width:610px) {
    .main{
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(6,1fr); */
    }
  }
  @media (min-width:850px) {
    .main{
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    }
  }
  @media (min-width:1200px) {
    .main{
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    }
  }
  @media (min-width:1400px) {
    .main{
    grid-template-columns: repeat(5,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    }
    
  }
  @media (min-width:1570px) {
    .main{
    grid-template-columns: repeat(6,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    }
    
  }
 

 